certifi==2019.11.28
cycler==0.10.0
joblib==1.2.0
kiwisolver==1.1.0
matplotlib==3.1.2
numpy==1.18.0
opencv-contrib-python==4.1.1.26
pyparsing==2.4.5
python-dateutil==2.8.1
scikit-learn==0.22
scipy==1.4.1
six==1.13.0
wincertstore==0.2